{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-4">
            <h4>Projects</h4>
            {% for project in projects %}
                <p>{{ project.subject }} / {{ project.countTasks }}</p>
            {% endfor %}
        </div>
        <div class="col">
            <h4>Tasks</h4>
            {% for task in tasks %}

                {% set checkBoxId = task.id %}

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="{{ checkBoxId }}">
                    <label class="form-check-label" for="{{ checkBoxId }}">
                        {{ task.subject }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <form action="{{ path('add_task') }}" method="post">
            <div class="form-group">
                <label for="taskSubject">Task subject</label>
                <input type="text" class="form-control" id="taskSubject" placeholder="Enter task subject" name="subject">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

{% endblock %}